{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'circulo/style.css' %}" />

<h2>Mis círculos de Amigos Secretos</h2>

{% if latest_circulo_list %}
    <ul>
    {% for circulo in latest_circulo_list %}
        <li><a href="{% url 'circulo:circulo' circulo.id %}">{{ circulo.nombre }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay circulos disponibles.</p>
{% endif %}

<h5>Añadir circulo</h5>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'circulo:nuevo_circulo' %}" method="post">
{% csrf_token %}
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre" value="" /><br />

  <input type="submit" value="Nuevo Circulo" />
</form>
