{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'circulo/style.css' %}" />

<h1>{{ persona.circulo.nombre }}</h1>
<h3>{{ persona.nombre }}</h3>
<h5>Contacto</h5>
<ul>
  {% if persona.telefono %}
    <li>Teléfono: {{ persona.telefono }}</li>
  {% endif %}
  {% if persona.email %}
    <li>EMail: {{ persona.email}}</li>
  {% endif %}
</ul>

{% if persona.deseo_set.all|length > 0 %}
<h5>Deseos</h5>
<ul>
  {% for deseo in persona.deseo_set.all %}
    <li><a href="{% url 'circulo:deseo' deseo.id %}">{{ deseo.deseo }}</a></li> 
  {% endfor %}
</ul>
{% endif %}

<h5>Añadir deseo</h5>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'circulo:nuevo_deseo' persona.id %}" method="post">
{% csrf_token %}
  <label for="deseo">Deseo</label>
  <input type="text" name="deseo" id="deseo" value="" /><br />

  <input type="submit" value="Nuevo Deseo" />
</form>

<form action="{% url 'circulo:eliminar_persona' persona.id %}" method="post">
{% csrf_token %}
  <input type="submit" value="Eliminar Persona" />
</form>

<a href="{% url 'circulo:circulo' persona.circulo.id %}">{{ persona.circulo.nombre }}</a>
<br />
<a href="{% url 'circulo:index' %}">Inicio</a>
